---
import Template from "./Template.astro";
---

<Template title="Home" section="Home">
  <div class="relative h-screen">
    <form autocomplete="off" method="get" action='All' class="md:w-1/2 w-3/4 z-20 text-white absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 flex">
      <input type="text" id="search" name="search" class="w-full h-10 border-b-[2px] border-slate-400 focus:border-white outline-none transition-all duration-300" placeholder="Cari Gambar">
      <button type="submit" class="px-3 cursor-pointer hover:scale-150 transition-all duration-300"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
</Template>
