---
// src/components/Detail.astro
---

<div id="detail" class="w-full h-screen relative top-0 left-0 z-40 hidden cursor-pointer">
  <div id="detail-body" class="p-3 w-[90%] md:w-auto bg-white rounded-md fixed transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 flex justify-center items-center flex-col z-10">
    <p id="detail-name" class="text-black text-sm font-semibold md:text-lg text-center pb-2"></p>
    <img id="detail-image" class="md:h-[80vh]" src="" alt="" loading="lazy" />
  </div>
  <div class="w-full h-screen bg-black/50 fixed transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 z-0"></div>
</div>

<script>
  function openDetail() {
    $('#detail')
      .addClass('flex')
      .removeClass('hidden');

    $('#detail-body')
      .removeClass('modal-close')
      .addClass('modal-open');
  }

  function closeDetail() {
    setTimeout(() => {
      $('#detail')
        .removeClass('flex')
        .addClass('hidden');
    }, 200);
    
    $('#detail-body')
      .removeClass('modal-open')
      .addClass('modal-close');
  }

  $('#detail').click(function () {
    closeDetail();
  });
  
  $('.gallery-item').click(function () {
    const name = $(this).data('name');
    const url = $(this).data('url');

    $('#detail-image').attr('src', url);
    $('#detail-image').attr('alt', name);
    $('#detail-name').text(name);

    openDetail();
  });
</script>