---
---

<form id="regis-form" method="post" action="" enctype="multipart/form-data" class="p-4 pt-2 hidden" autocomplete="off">
    <div class="mb-5 mt-3 relative group">
        <label for="email-regis" class="text-gray-500 text-sm absolute transition-all duration-300 transform -translate-y-1/2 top-1/2 left-0 mx-2 bg-white group-focus-within:top-0 group-focus-within:text-xs group-focus-within:px-1 group-focus-within:text-sky-600">Email</label>
        <input type="email" id="email-regis" name="email-regis" class="w-full p-2 ring ring-gray-300 outline-none focus:ring-sky-600 text-sm">
        <span class="absolute right-0 top-1/2 transform -translate-y-1/2 text-gray-500 group-focus-within:text-sky-600 p-2 transition-all duration-300 cursor-pointer">
            <i class="fa-solid fa-at"></i>
        </span>
    </div>

    <div class="mb-5 relative group">
        <label for="full_name" class="text-gray-500 text-sm absolute transition-all duration-300 transform -translate-y-1/2 top-1/2 left-0 mx-2 bg-white group-focus-within:top-0 group-focus-within:text-xs group-focus-within:px-1 group-focus-within:text-sky-600">Full Name</label>
        <input type="text" id="full_name" name="full_name" class="w-full p-2 ring ring-gray-300 outline-none focus:ring-sky-600 text-sm">
        <span class="absolute right-0 top-1/2 transform -translate-y-1/2 text-gray-500 group-focus-within:text-sky-600 p-2 transition-all duration-300 cursor-pointer">
            <i class="fa-solid fa-user"></i>
        </span>
    </div>

    <div class="mb-5 relative group">
        <label for="password-regis" class="text-gray-500 text-sm absolute transition-all duration-300 transform -translate-y-1/2 top-1/2 left-0 mx-2 bg-white group-focus-within:top-0 group-focus-within:text-xs group-focus-within:px-1 group-focus-within:text-sky-600">Password</label>
        <input type="password-regis" id="password-regis" name="password-regis" data-type="password" class="w-full p-2 ring ring-gray-300 outline-none focus:ring-sky-600 text-sm">
        <span class="absolute right-0 top-1/2 transform -translate-y-1/2 text-gray-500 group-focus-within:text-sky-600 p-2 transition-all duration-300 cursor-pointer">
            <i class="fa-solid fa-lock"></i>
        </span>
    </div>

    <div class="mb-5 relative group">
        <label for="confirm-password" class="text-gray-500 text-sm absolute transition-all duration-300 transform -translate-y-1/2 top-1/2 left-0 mx-2 bg-white group-focus-within:top-0 group-focus-within:text-xs group-focus-within:px-1 group-focus-within:text-sky-600">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password" data-type="password" class="w-full p-2 ring ring-gray-300 outline-none focus:ring-sky-600 text-sm">
        <span class="absolute right-0 top-1/2 transform -translate-y-1/2 text-gray-500 group-focus-within:text-sky-600 p-2 cursor-pointer">
            <i class="fa-solid fa-lock"></i>
        </span>
    </div>

    <button type="submit" class="w-full cursor-pointer group relative mb-4">
        <div class="uppercase font-semibold bg-gradient-to-r from-sky-700 to-sky-900 text-white py-2 px-4 text-sm group-hover:from-sky-900 group-hover:to-sky-900 transition-colors duration-300 flex justify-center gap-3 items-center">
        Registrasi <i class="fas fa-user-plus"></i>
        </div>

        <div class="w-full h-full border border-sky-900 absolute transform -translate-y-1/2 -translate-x-1/2 left-[calc(50%+2px)] top-[calc(50%+2px)] -z-10"></div>
    </button>

    <div class="text-gray-800 text-sm flex justify-center gap-1 items-center">
        Sudah punya akun 
        <button type="button" id="regis-login" class="text-sky-600 cursor-pointer">langsung login boss</button>
    </div>
</form>

<script>
    import Swal from 'sweetalert2';

    function showLoading() {
        $('#loading-spinner').removeClass('hidden');
    }

    function hideLoading() {
        $('#loading-spinner').addClass('hidden');
    }

    $('#regis-form').on('submit', function (e) {
        e.preventDefault();
        
        $.ajax({
            url: '/api/regis',
            method: 'POST',
            data: $(this).serialize(),
            beforeSend: function () {
                showLoading();
            },
            success: function (res) {
                Swal.fire({
                    icon: 'success',
                    title: 'Registration Successfully',
                    text: 'Registration successfully.',
                }).then(() => {
                    $('input').val('');
                    $('input').prev().removeClass('top-0 px-1 text-xs').addClass('top-1/2 text-sm');
                    
                    $('input[data-type="password"]').each(function () {
                        $(this).attr('type', 'password');
                        $(this).next().html('<i class="fa-solid fa-lock"></i>');
                    });
                });
            },
            error: function (xhr) {
                const message = xhr.responseText || 'Unknown error';
                Swal.fire({
                    icon: 'error',
                    title: 'Registration Failed',
                    text: 'Registration failed: ' + message,
                });
            },
            complete: function () {
                hideLoading();
            }
        });
    });
</script>