---
import Modal from './Modal.astro'
---

<div class="w-full flex justify-between md:justify-end z-30 px-4 md:px-0 items-center">
  <form id="search-mob" method="GET" action='' class="flex w-1/2 text-white font-light text-sm group md:hidden" autocomplete="off">
    <input type="text" id="search-mobile" name="search-mobile" class="w-full h-6 px-1 border-b-[1px] border-transparent focus:border-white outline-none transition-all duration-300" placeholder="Cari Gambar">
    <button id="submit-search-mobile" type="submit" class="px-3 cursor-pointer hover:scale-110 transition-all duration-300 text-slate-400 hover:text-white group-focus-within:text-white">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>

  <button id="open-modal" class="relative group cursor-pointer">
    <div class="relative z-10 bg-gradient-to-r from-sky-700 to-sky-900 text-white md:py-2 md:px-4 text-sm group-hover:from-sky-900 group-hover:to-sky-900 transition-colors duration-300 px-3 py-2">
      Tambah Gambarmu <i class="fas fa-plus ml-2"></i>
    </div>

    <div class="absolute z-0 w-full h-full border border-white transform -translate-y-1/2 -translate-x-1/2 left-[calc(50%+2px)] top-[calc(50%+2px)]"></div>
  </button>
</div>

<Modal name="upload" title="Tambah Gambar">
  <form id="upload-form" method="post" action="" enctype="multipart/form-data" class="p-4 pt-2" autocomplete="off">
    <div class="mb-4">
      <label for="image" class="text-gray-800 text-sm">Pilih Gambar</label>
      <input
        type="file"
        name="image"
        id="image"
        accept="image/*"
        class="block w-full text-sm text-gray-900 border border-gray-300 cursor-pointer focus:outline-none focus:ring-1 focus:ring-sky-500 file:mr-4 file:py-2 file:px-4 file:border-0 file:text-sm file:font-semibold file:bg-sky-100 file:text-sky-700 hover:file:bg-sky-100"
      />
    </div>

    <div class="mb-4">
      <label for="name" class="text-gray-800 text-sm">Nama Gambar</label>
      <input type="text" id="name" name="name" class="w-full px-2 py-1 ring ring-gray-300 mt-2 outline-none focus:ring-sky-600 text-sm">
    </div>

    <button type="submit" class="w-full cursor-pointer group relative">
      <div class="uppercase font-semibold bg-gradient-to-r from-sky-700 to-sky-900 text-white py-2 px-4 text-sm group-hover:from-sky-900 group-hover:to-sky-900 transition-colors duration-300 flex justify-center gap-3 items-center">
        Upload <i class="fas fa-upload"></i>
      </div>

      <div class="w-full h-full border border-sky-900 absolute transform -translate-y-1/2 -translate-x-1/2 left-[50.5%] top-[56%] -z-10"></div>
    </button>
  </form>
<Modal />

<script>
  import Swal from 'sweetalert2';

  let submitMode = 'add';
  let idUpdate = '';

  function showLoading() {
    $('#loading-spinner').removeClass('hidden');
  }

  function hideLoading() {
    $('#loading-spinner').addClass('hidden');
  }

  function openModal() {
    $('#upload-modal')
      .addClass('flex')
      .removeClass('hidden');

    $('#upload-modal-body')
      .removeClass('modal-close')
      .addClass('modal-open');
  }

  function closeModal() {
    setTimeout(() => {
      $('#upload-modal')
        .removeClass('flex')
        .addClass('hidden');
    }, 200);
    
    $('#upload-modal-body')
      .removeClass('modal-open')
      .addClass('modal-close');

    $('input').val('');
  }

  $(document).ready(function() {
    $('#open-modal').click(function() {
      submitMode = 'add';
      openModal();
    });

    $('#upload-modal-close, #upload-overlay').click(function() {
      closeModal();
    });

    $('.edit-button').click(function(e) {
      e.stopPropagation();
      const id = $(this).data('id');
      const name = $(this).data('name');

      $('#name').val(name);

      submitMode = 'update';
      idUpdate = id;

      openModal();
    });

    $('#upload-form').on('submit', function (e) {
      e.preventDefault();

      const file = $('#image')[0].files[0];
      const name = $('#name').val();

      if (!name) {
        Swal.fire({
          icon: 'error',
          title: 'Upload Gagal',
          text: 'Tidak ada nama gambar.',
        });
        return;
      }
      
      if (submitMode === 'add') {
        if (!file) {
          Swal.fire({
            icon: 'error',
            title: 'Upload Gagal',
            text: 'Tidak ada gambar diupload.',
          });
          return;
        }
        const formData = new FormData();
        formData.append('name', $('#name').val());
        formData.append('image', file);
  
        $.ajax({
          url: '/api/gallery',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          beforeSend: function () {
            showLoading();
          },
          success: function (res) {
            Swal.fire({
              icon: 'success',
              title: 'Upload Berhasil',
              text: 'Gambar berhasil diupload.',
            }).then(() => {
              window.location.reload();
            });
          },
          error: function (xhr) {
            Swal.fire({
              icon: 'error',
              title: 'Upload Gagal',
              text: 'Gambar gagal diupload: ' + xhr.responseText,
            });
          },
          complete: function () {
            hideLoading();
          },
        });
      } else if (submitMode === 'update') {
        const formData = new FormData();
        formData.append('id', idUpdate);
        formData.append('name', $('#name').val());
        formData.append('image', file);
  
        $.ajax({
          url: '/api/gallery',
          type: 'PUT',
          data: formData,
          processData: false,
          contentType: false,
          beforeSend: function () {
            showLoading();
          },
          success: function (res) {
            Swal.fire({
              icon: 'success',
              title: 'Update Berhasil',
              text: 'Gambar berhasil diperbarui.',
            }).then(() => {
              window.location.reload();
            });
          },
          error: function (xhr) {
            Swal.fire({
              icon: 'error',
              title: 'Update Gagal',
              text: 'Gambar gagal diperbarui: ' + xhr.responseText,
            });
          },
          complete: function () {
            hideLoading();
          },
        });

      }
    });
  });
</script>
